@page "/register"
@inherits RegisterBase

<PageTitle>Registration</PageTitle>

<h3>
    <EditForm Model="@UserRegisterModel" OnValidSubmit="HandleValidSubmitAsync">
        <DataAnnotationsValidator />
        <div class="mb-3">
            <label for="idEmail" class="form-label">Email</label>
            <div>
                <InputText id="idEmail" class="form-control" @bind-Value="@UserRegisterModel.Email"
                    placeholder="Email..." />
                <ValidationMessage For="@(() => UserRegisterModel.Email)" />
            </div>
        </div>

        <div class="mb-3">
            <label for="idPassword" class="form-label">Password</label>
            <div>

                <InputText id="idPassword" class="form-control" @bind-Value="@UserRegisterModel.Password"
                    placeholder="Password..." type="password" />
                <ValidationMessage For="@(() => UserRegisterModel.Password)" />
            </div>
        </div>

        <div class="mb-3">
            <label for="idConfirmPassword" class="form-label">Confirm Password</label>
            <div>

                <InputText id="idConfirmPassword" class="form-control" @bind-Value="@UserRegisterModel.ConfirmPassword"
                    placeholder="Confirm Password..." type="password" />
                <ValidationMessage For="@(() => UserRegisterModel.ConfirmPassword)" />
            </div>
        </div>

        <button class="btn btn-success" type="submit">Register</button>
        <div class="text-danger">
            <span>@ErrorMessage</span>
        </div>
    </EditForm>

</h3>